[submodule "system"]
	path = boost/libs/system
	url = ../system.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "multi_array"]
	path = boost/libs/multi_array
	url = ../multi_array.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "math"]
	path = boost/libs/math
	url = ../math.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "smart_ptr"]
	path = boost/libs/smart_ptr
	url = ../smart_ptr.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "parameter"]
	path = boost/libs/parameter
	url = ../parameter.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "algorithm"]
	path = boost/libs/algorithm
	url = ../algorithm.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "any"]
	path = boost/libs/any
	url = ../any.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "concept_check"]
	path = boost/libs/concept_check
	url = ../concept_check.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "python"]
	path = boost/libs/python
	url = ../python.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "tti"]
	path = boost/libs/tti
	url = ../tti.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "functional"]
	path = boost/libs/functional
	url = ../functional.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "config"]
	path = boost/libs/config
	url = ../config.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "log"]
	path = boost/libs/log
	url = ../log.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "interprocess"]
	path = boost/libs/interprocess
	url = ../interprocess.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "exception"]
	path = boost/libs/exception
	url = ../exception.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "foreach"]
	path = boost/libs/foreach
	url = ../foreach.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "spirit"]
	path = boost/libs/spirit
	url = ../spirit.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "io"]
	path = boost/libs/io
	url = ../io.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "units"]
	path = boost/libs/units
	url = ../units.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "preprocessor"]
	path = boost/libs/preprocessor
	url = ../preprocessor.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "format"]
	path = boost/libs/format
	url = ../format.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "xpressive"]
	path = boost/libs/xpressive
	url = ../xpressive.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "integer"]
	path = boost/libs/integer
	url = ../integer.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "thread"]
	path = boost/libs/thread
	url = ../thread.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "tokenizer"]
	path = boost/libs/tokenizer
	url = ../tokenizer.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "timer"]
	path = boost/libs/timer
	url = ../timer.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "inspect"]
	path = tools/inspect
	url = ../inspect.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "boostbook"]
	path = tools/boostbook
	url = ../boostbook.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "regex"]
	path = boost/libs/regex
	url = ../regex.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "crc"]
	path = boost/libs/crc
	url = ../crc.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "random"]
	path = boost/libs/random
	url = ../random.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "serialization"]
	path = boost/libs/serialization
	url = ../serialization.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "test"]
	path = boost/libs/test
	url = ../test.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "date_time"]
	path = boost/libs/date_time
	url = ../date_time.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "logic"]
	path = boost/libs/logic
	url = ../logic.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "graph"]
	path = boost/libs/graph
	url = ../graph.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "numeric_conversion"]
	path = boost/libs/numeric/conversion
	url = ../numeric_conversion.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "lambda"]
	path = boost/libs/lambda
	url = ../lambda.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "mpl"]
	path = boost/libs/mpl
	url = ../mpl.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "typeof"]
	path = boost/libs/typeof
	url = ../typeof.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "tuple"]
	path = boost/libs/tuple
	url = ../tuple.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "utility"]
	path = boost/libs/utility
	url = ../utility.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "dynamic_bitset"]
	path = boost/libs/dynamic_bitset
	url = ../dynamic_bitset.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "assign"]
	path = boost/libs/assign
	url = ../assign.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "filesystem"]
	path = boost/libs/filesystem
	url = ../filesystem.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "function"]
	path = boost/libs/function
	url = ../function.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "conversion"]
	path = boost/libs/conversion
	url = ../conversion.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "optional"]
	path = boost/libs/optional
	url = ../optional.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "property_tree"]
	path = boost/libs/property_tree
	url = ../property_tree.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "bimap"]
	path = boost/libs/bimap
	url = ../bimap.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "variant"]
	path = boost/libs/variant
	url = ../variant.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "array"]
	path = boost/libs/array
	url = ../array.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "iostreams"]
	path = boost/libs/iostreams
	url = ../iostreams.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "multi_index"]
	path = boost/libs/multi_index
	url = ../multi_index.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "bcp"]
	path = tools/bcp
	url = ../bcp.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "ptr_container"]
	path = boost/libs/ptr_container
	url = ../ptr_container.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "statechart"]
	path = boost/libs/statechart
	url = ../statechart.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "static_assert"]
	path = boost/libs/static_assert
	url = ../static_assert.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "range"]
	path = boost/libs/range
	url = ../range.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "rational"]
	path = boost/libs/rational
	url = ../rational.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "iterator"]
	path = boost/libs/iterator
	url = ../iterator.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "build"]
	path = tools/build
	url = ../build.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "quickbook"]
	path = tools/quickbook
	url = ../quickbook.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "graph_parallel"]
	path = boost/libs/graph_parallel
	url = ../graph_parallel.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "property_map"]
	path = boost/libs/property_map
	url = ../property_map.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "program_options"]
	path = boost/libs/program_options
	url = ../program_options.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "detail"]
	path = boost/libs/detail
	url = ../detail.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "interval"]
	path = boost/libs/numeric/interval
	url = ../interval.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "ublas"]
	path = boost/libs/numeric/ublas
	url = ../ublas.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "wave"]
	path = boost/libs/wave
	url = ../wave.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "type_traits"]
	path = boost/libs/type_traits
	url = ../type_traits.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "compatibility"]
	path = boost/libs/compatibility
	url = ../compatibility.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "bind"]
	path = boost/libs/bind
	url = ../bind.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "pool"]
	path = boost/libs/pool
	url = ../pool.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "proto"]
	path = boost/libs/proto
	url = ../proto.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "fusion"]
	path = boost/libs/fusion
	url = ../fusion.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "function_types"]
	path = boost/libs/function_types
	url = ../function_types.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "gil"]
	path = boost/libs/gil
	url = ../gil.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "intrusive"]
	path = boost/libs/intrusive
	url = ../intrusive.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "asio"]
	path = boost/libs/asio
	url = ../asio.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "uuid"]
	path = boost/libs/uuid
	url = ../uuid.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "litre"]
	path = tools/litre
	url = ../litre.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "circular_buffer"]
	path = boost/libs/circular_buffer
	url = ../circular_buffer.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "mpi"]
	path = boost/libs/mpi
	url = ../mpi.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "unordered"]
	path = boost/libs/unordered
	url = ../unordered.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "signals2"]
	path = boost/libs/signals2
	url = ../signals2.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "accumulators"]
	path = boost/libs/accumulators
	url = ../accumulators.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "atomic"]
	path = boost/libs/atomic
	url = ../atomic.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "scope_exit"]
	path = boost/libs/scope_exit
	url = ../scope_exit.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "flyweight"]
	path = boost/libs/flyweight
	url = ../flyweight.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "icl"]
	path = boost/libs/icl
	url = ../icl.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "predef"]
	path = boost/libs/predef
	url = ../predef.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "chrono"]
	path = boost/libs/chrono
	url = ../chrono.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "polygon"]
	path = boost/libs/polygon
	url = ../polygon.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "msm"]
	path = boost/libs/msm
	url = ../msm.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "heap"]
	path = boost/libs/heap
	url = ../heap.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "coroutine"]
	path = boost/libs/coroutine
	url = ../coroutine.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "coroutine2"]
	path = boost/libs/coroutine2
	url = ../coroutine2.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "ratio"]
	path = boost/libs/ratio
	url = ../ratio.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "odeint"]
	path = boost/libs/numeric/odeint
	url = ../odeint.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "geometry"]
	path = boost/libs/geometry
	url = ../geometry.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "phoenix"]
	path = boost/libs/phoenix
	url = ../phoenix.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "move"]
	path = boost/libs/move
	url = ../move.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "locale"]
	path = boost/libs/locale
	url = ../locale.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "auto_index"]
	path = tools/auto_index
	url = ../auto_index.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "container"]
	path = boost/libs/container
	url = ../container.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "local_function"]
	path = boost/libs/local_function
	url = ../local_function.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "context"]
	path = boost/libs/context
	url = ../context.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "type_erasure"]
	path = boost/libs/type_erasure
	url = ../type_erasure.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "multiprecision"]
	path = boost/libs/multiprecision
	url = ../multiprecision.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "lockfree"]
	path = boost/libs/lockfree
	url = ../lockfree.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "assert"]
	path = boost/libs/assert
	url = ../assert.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "align"]
	path = boost/libs/align
	url = ../align.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "type_index"]
	path = boost/libs/type_index
	url = ../type_index.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "core"]
	path = boost/libs/core
	url = ../core.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "throw_exception"]
	path = boost/libs/throw_exception
	url = ../throw_exception.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "winapi"]
	path = boost/libs/winapi
	url = ../winapi.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "boostdep"]
	path = tools/boostdep
	url = ../boostdep.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "lexical_cast"]
	path = boost/libs/lexical_cast
	url = ../lexical_cast.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "sort"]
	path = boost/libs/sort
	url = ../sort.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "convert"]
	path = boost/libs/convert
	url = ../convert.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "endian"]
	path = boost/libs/endian
	url = ../endian.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "vmd"]
	path = boost/libs/vmd
	url = ../vmd.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "dll"]
	path = boost/libs/dll
	url = ../dll.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "compute"]
	path = boost/libs/compute
	url = ../compute.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "hana"]
	path = boost/libs/hana
	url = ../hana.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "metaparse"]
	path = boost/libs/metaparse
	url = ../metaparse.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "qvm"]
	path = boost/libs/qvm
	url = ../qvm.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "fiber"]
	path = boost/libs/fiber
	url = ../fiber.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "process"]
	path = boost/libs/process
	url = ../process.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "stacktrace"]
	path = boost/libs/stacktrace
	url = ../stacktrace.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "poly_collection"]
	path = boost/libs/poly_collection
	url = ../poly_collection.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "beast"]
	path = boost/libs/beast
	url = ../beast.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "mp11"]
	path = boost/libs/mp11
	url = ../mp11.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "callable_traits"]
	path = boost/libs/callable_traits
	url = ../callable_traits.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "contract"]
	path = boost/libs/contract
	url = ../contract.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "check_build"]
	path = tools/check_build
	url = ../check_build.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "container_hash"]
	path = boost/libs/container_hash
	url = ../container_hash.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "hof"]
	path = boost/libs/hof
	url = ../hof.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "yap"]
	path = boost/libs/yap
	url = ../yap.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "safe_numerics"]
	path = boost/libs/safe_numerics
	url = ../safe_numerics.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "parameter_python"]
	path = boost/libs/parameter_python
	url = ../parameter_python.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "headers"]
	path = boost/libs/headers
	url = ../headers.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "boost_install"]
	path = tools/boost_install
	url = ../boost_install.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "outcome"]
	path = boost/libs/outcome
	url = ../outcome.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "histogram"]
	path = boost/libs/histogram
	url = ../histogram.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "variant2"]
	path = boost/libs/variant2
	url = ../variant2.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "nowide"]
	path = boost/libs/nowide
	url = ../nowide.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "docca"]
	path = tools/docca
	url = ../docca.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "cmake"]
	path = tools/cmake
	url = ../cmake.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "static_string"]
	path = boost/libs/static_string
	url = ../static_string.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "stl_interfaces"]
	path = boost/libs/stl_interfaces
	url = ../stl_interfaces.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "more"]
	path = more
	url = ../more.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "leaf"]
	path = boost/libs/leaf
	url = ../leaf.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "json"]
	path = boost/libs/json
	url = ../json.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "pfr"]
	path = boost/libs/pfr
	url = ../pfr.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "describe"]
	path = boost/libs/describe
	url = ../describe.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "lambda2"]
	path = boost/libs/lambda2
	url = ../lambda2.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "property_map_parallel"]
	path = boost/libs/property_map_parallel
	url = ../property_map_parallel.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "url"]
	path = boost/libs/url
	url = ../url.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "mysql"]
	path = boost/libs/mysql
	url = ../mysql.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "compat"]
	path = boost/libs/compat
	url = ../compat.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "redis"]
	path = boost/libs/redis
	url = ../redis.git
	fetchRecurseSubmodules = on-demand
	branch = .
